<!DOCTYPE html>
<html lang="es">
<head>

    <title>Iujo Catia Informática</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Estilos Css -->
    <link rel="stylesheet" href="../css/styles.css">

</head>

<body>


  <!-- titulo -->
    <header id="header">
    <nav class="menu">
     <div class="logo-box">
       <h1><a href="#">Instituto Univ. "Jesús Obrero" Portal Educativo</a></h1>
       <span class="btn-menu"><i class="fas fa-bars"></i></span>
     </div>
    </nav>

 
    <div class="img-header">
     <div class="welcome">
       <h1>Desarrollo Web</h1>
       <hr>
       <p>Hoy aprenderemos los conceptos básicos del desarrollo web, los flujos de trabajo, los roles y tendencias...</p>
     </div>       
    </div>
    
    <div class="skew-abajo"></div>
	</header>

 <main>

 	<input type="checkbox" class="checkbox" id="check">
    <label class="sidebar" for="check">☰ Menu</label>
    <div class="left-panel">
    <ul>
    <a href="../index.html"><li>Iujo Catia Home</li></a>    
    <a href="index.html"><li>Ciclo de vida del software</li></a>    
    <a href="metodologias.html"><li>Metodologías de Desarrollo web</li></a>    
    <a href=""><li>Comentarios</li></a>    
    </ul>
    </div>

    <!-- Concepto -->
    <section class="acerca-de">
    <div class="info-container">
      <h1>Qué es el Desarrollo Web y sus conceptos básicos</h1>
          <p>En el Iujo, sabemos que puede llegar a ser abrumadora la cantidad de tecnologías y conceptos que se deben manejar cuando queremos aprender acerca de desarrollo web. Pero lo más importante es no dejarse intimidar y entender que todas estas herramientas y términos se aprenden a lo largo del tiempo.</p>

         <p>Por desarrollo web entendemos todas las disciplinas involucradas en la creación de sitios web, o aplicaciones que se ejecutan en la web y a las que se accede mediante el navegador.</p>

         <p>El Iujo te recomienda empezar aprendiendo HTML y CSS y luego pasar a Javascript, que es el tercer lenguaje estándar para la web. Lo que sí está claro es que todo comienza aprendiendo HTML y CSS, por lo que si no los conoces ya tienes por dónde empezar! Una vez que se aprende HTML y CSS, un buen paso es aprender Javascript, que es el tercer lenguaje estándar para la web.</p>

         <p>Luego de esos conocimientos básicos, y dependiendo de nuestros intereses y gustos personales, debemos elegir en una especialización que deseemos para nuestras carreras profesionales. Si tu preferencia es la parte visual, te quedarás generalmente en el front-end o en la parte de maquetación web. Pero si te gusta la programación de aplicaciones, bases de datos, etc. quizás te motive más pasar a lenguajes de backend, como PHP, NodeJS, etc.</p>
          <hr size="15">
         <p><b>Se deben tener en cuenta algunos conceptos básicos antes de iniciar con el desarrollo web:</b></p>

        <p> ⸬<b>Sitio web:</b> Página principal y sus otras páginas, gráficos, documentos, multimedia y otros archivos asociados que se almacenan en un servidor Web o en el disco duro de un equipo. <p>

        <p> ⸬<b>HTML:</b> Por sus siglas “HTML” se denomina como Lenguaje de Marcado de Hipertexto, se considera el lenguaje estándar de marcas empleado para documentos del World Wide Web. <p>

        <p> ⸬<b>Hipervínculo:</b> Al hipervínculo se le suele llamar «enlace web» o en su versión anglosajona «link». Un hipervínculo es una conexión de una página a otro destino como, por ejemplo, otra página o una ubicación diferente en la misma página. <p>

        <p> ⸬<b>Editor:</b> Programa utilizado para crear páginas web sin la necesidad de tener que aprender el lenguaje. <p>

        <p> ⸬<b>Servidor:</b> Máquina conectada a Internet que -entre otros servicios- ofrece albergue para páginas web haciendo que estén accesibles desde cualquier punto de Internet. <p>

        <p> ⸬<b>Cliente FTP:</b> Programa que permite conectarse al servidor para publicar páginas web.<p>

        <p> ⸬<b>Dominio:</b> Dirección web asociada a una página web. ISP: En el ámbito del desarrollo de sitios web, se puede decir que un ISP es un proveedor de servicios para web.<p>

        <p> ⸬<b>URL:</b> Cadena que proporciona la dirección de Internet de un sitio Web o un recurso del World Wide Web, junto con el protocolo mediante el cual se tiene acceso al sitio o al recurso.<p>

        <p> ⸬<b>Hosting:</b> Espacio de disco donde se almacenan las páginas webs para que sean accesibles a través de Internet. <p>

        <p> ⸬<b>Banner:</b> Elemento gráfico con forma rectangular, normalmente animado, cuyo contenido es publicidad.<p>

        <p> ⸬<b>Frames:</b> Áreas rectangulares que subdividen las ventanas de algunas páginas Web, cada una de las cuales contiene un documento de hipertexto independiente de los demás. <p>

        <p> ⸬<b>Imagen:</b> Archivo gráfico que se puede insertar en una página Web y mostrar en un explorador de Web. Existen diferentes formatos: GIF, JPEG, BMP, TIFF, WMF y PNG, entre otros. <p>

        <center> <img src="../img/desarrollo-web.png" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>

          <hr size="15">

        <h1>Arquitectura de las aplicaciones Web</h1>

        <p>Una aplicación Web  es  proporcionada  por  un  servidor  Web  y  utilizada  por  usuarios  que  se Conectan desde cualquier punto vía clientes Web (browsers o navegadores). <b>La arquitectura de un Sitio Web tiene tres componentes principales:</b></p>

        <p>Un servidor Web</p>
         <p>Una conexión de red</p>
          <p>Uno o más clientes</p>

        <p>El servidor Web distribuye páginas de información formateada a los clientes que las solicitan. Los requerimientos son hechos a través de una conexión de red, y para ello se usa el protocolo HTTP. Una vez que se solicita esta petición mediante el protocolo HTTP y la recibe el servidor Web, éste localiza la página Web en su sistema de archivos y la envía de vuelta al navegador que la solicitó.</p>


        <center> <img src="../img/arquitectura.jpg" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>

        <p>Las aplicaciones Web están basadas en el modelo Cliente/Servidor que gestionan servidores web, y que utilizan como interfaz páginas web.</p>

          <hr size="15">

        <h1>Técnicas Utilizadas</h1>

        <p>Después de haber revisado miles de sitios durante más de una década de operación de nuestra firma, aún me sorprende descubrir las distintas técnicas que pueden ser empleadas para desarrollar un sitio web. Algunas de ellas son tan sofisticadas, muchas veces más complicadas de lo estrictamente necesario, que no queda más que reconocer la creatividad humana en el uso y aplicación de esta tecnología.</p>

        <p>El problema no es ser creativo, sino más bien perder objetividad. La misión principal de una página no es lucir sobria y elegante, ni ser fácilmente administrable. Tampoco lo es contar con la tecnología más reciente y los estándares más exigentes. No es que estas características no importen. Sí importan y mucho, pero todas éstas tienen un papel secundario. Lo verdaderamente importante, lo trascendental, lo substancial, es que su página web le ayude a promocionar sus productos y servicios, que es el principal objetivo en la mayoría de los proyectos de mercadotecnia por Internet.</p>

        <hr size="15">

        <h1>Flujo de trabajo</h1>

        <p>En un proyecto de diseño, ya sean sitios o apps, vamos a tener que ir pasando por diversos estados, creando un flujo de trabajo que generalmente se va a repetir en cada encargo que un diseñador o agencia pueda recibir. En función de la experiencia de cada diseñador y sus costumbres pueden acortarse ciertas partes, incluso saltarse algún paso.</p>

        <p>En ningún caso en un proyecto se deberían saltar todas las etapas del diseño. Hay que darse cuenta que, cualquier desarrollador que comience un proyecto, debería disponer de un trabajo previo de diseño, que le ofrezca de una manera detallada todo lo que él tiene que producir. Entre los materiales habrá diversos asuntos, como esquemas de uso de la aplicación, pantallas, diseños, colores imágenes, iconos, etc. En resumen, todo lo necesario para dejar claro el aspecto de la aplicación o el sitio web y la experiencia de uso que va a ofrecer a los usuarios.</p>

        <center> <img src="../img/flujo.png" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>

        <hr size="15">

        <h1>¿Cuales son los roles en el desarrollo web?</h1>

        <p>Antes de ir a estos roles quiero aclarar que no hay una regla o ley que diga cuales deben ser estos roles, va a depender del proyecto y del presupuesto, por ejemplo: si no disponemos de un gran presupuesto podemos omitir algún rol, una persona puede hacer dos o tres roles a la vez y viceversa, si un proyecto tiene el presupuesto adecuado, podemos llegar a un nivel de especialización tan profundo,que un rol podría dividirse en dos o tres, según el tipo de especialidad. En un proyecto web tampoco hay una secuencia obligatoria, Las etapas no necesariamente tienen que ir una tras otra, todo depende del proyecto, muchos roles van trabajando en paralelo.</p>

        <center> <img src="../img/roles.jpg" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>

        <p><b>Frontend Developer o Programador Frontend</b>
        Se encarga de desarrollar toda la lógica del lado del cliente, por ejemplo: cuando entras a la web de EDteam: haces clic en el botón "ingresar", ese botón te abre un formulario donde pondrás tu usuario y contraseña, los datos se enviarán al servidor, este retornara una respuesta y según la respuesta se mostrará un mensaje u otro.</p>

        <center> <img src="../img/frontend.jpg" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>
        <hr size="15">

        <p><b>Backend Developer o Programador Backend</b>
        Hace toda la lógica del lado del servidor, toda la seguridad está en esta parte; si tú haces seguridad en el lado del cliente, una persona con relativos conocimientos de programación podría modificar esa validación desde el inspector del navegador, por eso también se agrega validación del lado del servidor y es muchísimo más segura.</p>

        <center> <img src="../img/backend.png" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>
        <hr size="15">

        <p><b>Diseñador UI/UX</b>
        UX (user experience)Esta disciplina se encarga de que el sitio sea usable y que la experiencia del usuario sea agradable. Una tarea importante en este rol es el flujo de usuario, que es la cantidad de pasos que debe seguir para realizar una tarea.</p>

        <center> <img src="../img/diseñador.png" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>
        <hr size="15">

        <p><b>DBA(Database Administrator)</b>
        Se encarga de Diseñar las bases datos, que son grandes almacenes de información, supongamos que en EDteam tenemos 50,000 suscriptores y necesitamos guardar sus datos (nombre, apellidos, cuándo fue la última vez que iniciaron sesión, que cursos ven, etc). En una aplicación la data es fundamental porque a partir de los datos se toman las decisiones, y una base de datos bien diseñada permite que un proyecto sea escalable, por eso el DBA diseña la base de datos(incluso el lápiz y papel) antes de ponerse a escribir código. </p>

        <center> <img src="../img/administrador.jpg" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>
        <hr size="15">

        <p><b>Cloud Manager</b> 
        proporciona a los usuarios distintas funcionalidades según sean sus servicios contratados, tales como la creación, activación y reinicio de servidores, definición del grado de elasticidad de su plataforma o configuración de las reglas de Firewall.</p>

        <center> <img src="../img/cloudmanager.png" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>
        <hr size="15">

        <p><b>Project Manager</b> 
        A menudo, se describe al jefe de proyecto web como un director de orquestra que dirige a varios grupos de personas que deben trabajar juntos durante varias etapas de un proyecto para lograr los objetivos establecidos, y a la vez cumplir con las restricciones de costos y límites de tiempo.</p>

        <center> <img src="../img/ProjectManager.jfif" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>
        <hr size="15">

        <h1>Tendencias desarrollo web 2021</h1>

        <center> <img src="../img/infografia.jpg" border="1" alt="Este es el ejemplo de un texto alternativo" width="1000" height="450"> </center>

    </div>
    </section>
 </main> 

 <!-- Footer -->
   <div class="footer-text">
     <p>&copy; Desarrollo web - 2021 | Burguillos Elny / Interfaces Web.</p>
   </div>
  
  </div>
</div>
 </footer>

</body>
</html>