<!DOCTYPE html>
<html lang="es">
<head>

    <title>Iujo Catia Informática</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Estilos Css -->
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/fuction.js"></script>

</head>

<body>


  <!-- titulo -->
    <header id="header">
    <nav class="menu">
     <div class="logo-box">
       <h1><a href="#">Instituto Univ. "Jesús Obrero" Portal Educativo</a></h1>
       <span class="btn-menu"><i class="fas fa-bars"></i></span>
     </div>
    </nav>

 
    <div class="img-header">
     <div class="welcome">
       <h1>Ciclo de vida del software</h1>
       <hr>
       <p>Etapas que debe completar un programa desde su concepcion hasta su despliegue.</p>
     </div>       
    </div>
    
    <div class="skew-abajo"></div>
	</header>

 <main>

 	<input type="checkbox" class="checkbox" id="check">
    <label class="sidebar" for="check">☰ Menu</label>
    <div class="left-panel">
    <ul>
    <a href="../index.html"><li>Iujo Catia Home</li></a>    
    <a href="desarrolloweb.html"><li>Desarrollo de aplicaciones web </li></a>    
    <a href="metodologias.html"><li>Metodologías de Desarrollo Web</li></a>    
    <a href=""><li>Comentarios</li></a>    
    </ul>
    </div>

    <!-- Concepto -->
    <section class="acerca-de">
    <div class="info-container">
      <h1>Ciclo de vida del software </h1>
      <p>
      		El ciclo de vida de un software en inglés: SDLC – Systems Development Life Cycle) es el conjunto de fases por las que pasa el sistema que se está desarrollando desde que nace la idea inicial hasta que el software es retirado o remplazado (muere). También se denomina a veces paradigma.
      </p>

     <center> <img src="../img/centro.jpg" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>

     	<p>
      		Entre las funciones que debe tener un ciclo de vida se pueden destacar:<br>
			Determinar el orden de las fases del proceso de software. Establecer los criterios de transición para pasar de una fase a la siguiente. Definir las entradas y salidas de cada fase. Describir los estados por los que pasa el producto. Describir las actividades a realizar para transformar el producto. Definir un esquema que sirve como base para planificar, organizar, coordinar, desarrollar.
		</p>

	 	<p>
			En estas vistas previas podemos observar primero el modelo en v se desarrolló para terminar con algunos de los problemas que se vieron utilizando el enfoque de cascada tradicional.
		</p>

		<p>
			En la segunda imagen tenemos el modelo iterativo derivado del ciclo de vida en cascada.
		</p>

		<p>
			Y en la tercera imagen el modelo incremental combina elementos del modelo en cascada con la filosofía interactiva de construcción de prototipos.
		</p>

      <div class="about-gallery">
      	<a href="javascript:abrir('../img/img1.jpg','800','800')"> <img src="../img/img1.jpg" alt=""></a>
        <a href="javascript:abrir('../img/img2.jpg','800','800')"> <img src="../img/img2.jpg" alt=""></a>
      	<a href="javascript:abrir('../img/img3.jpg','800','800')"> <img src="../img/img3.jpg" alt=""></a>
      </div>
        
        <hr size="15">

      <b><p>En el ciclo de vida de un sistema de información pueden distinguirse siete fases. Se trata de las siguientes:</p></b>
     	<p> 	
     		<b>Fase de planificación:</b><br> En esta fase se prepara el diseño y posterior implementación del sistema. Es necesario definir el alcance del proyecto, justificarlo y escoger una metodología para su desarrollo. También es preciso asociar las diferentes actividades a plazos de tiempo y designar roles y responsabilidades.
	 	</p>

        <center> <img src="../img/planificacion.jpg" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>

       <hr size="15">

     	<p> 
       		<b>Fase de análisis:</b><br> Una vez que el equipo de proyecto se decide por una metodología de desarrollo determinada, da comienzo la segunda etapa en el ciclo de vida de un sistema de información. Es la que tiene que ver con el análisis y donde se busca concretar una serie de requisitos, que son los que regirán el nuevo sistema o los cambios a introducir en el antiguo, si con el proyecto se busca su actualización.
    	</p>

         <center> <img src="../img/analisis.png" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>


        <hr size="15">

     	<p> 
       		<b>Fase de diseño:</b><br> Aca el equipo de proyecto tendrá que determinar cómo el nuevo sistema de información cumplirá con los requisitos aplicables. Es por ello que, a estas alturas del ciclo de vida de un sistema de información conviene identificar soluciones potenciales, evaluarlas y elegir la más conveniente. Ésta será o la más efectiva, o la más eficiente en costes o la menos compleja. Una vez completadas esas tareas, habrá que continuar haciendo la selección tecnológica de software y hardware, desarrollando las especificaciones para las distintas aplicaciones y obteniendo aprobación de la gerencia para poder proceder a la implementación del nuevo sistema.
     	</p>

         <center> <img src="../img/diseño.jpg" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>


        <hr size="15">

     	<p> 
       		<b>Fase de desarrollo:</b><br> El desarrollo software marca un antes y un después en la vida del sistema y significa, además, el inicio de la producción. El cambio es una constante durante esta etapa, en la que suele ser recomendable poner el foco en la formación y capacitación de los usuarios y el equipo técnico.
     	</p>

         <center> <img src="../img/desarrollo2.jpg" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>

        
        <hr size="15">

     	<p> 
       		<b>Fase de integración y periodo de pruebas:</b><br> El objetivo de esta etapa es corroborar que el diseño propuesto cumple con los requisitos de negocio establecidos. Puede ser necesario repetir las pruebas tantas veces como haga falta para evitar errores y, de hecho, conviene que el usuario final dé su conformidad con el resultado. Por último, este estadio concluye con la verificación y validación, que ayudan a asegurar la compleción del programa con éxito.
     	</p>

        <center> <img src="../img/pruebas.jpg" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>

          
        <hr size="15">

     	<p> 
       		<b>Fase de implementación:</b><br> En esta etapa del ciclo de vida de un sistema de información hay que proceder a la instalación del hardware y software elegidos, crear las aplicaciones correspondientes, someterlas a pruebas, crear la documentación pertinente y capacitar a los usuarios. La conversión de datos es importante en este estadio, en el que ya se empieza a trabajar en el nuevo sistema.
     	</p>

        <center> <img src="../img/implementacion.jpg" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>
        
        <hr size="15">

     	<p> 
       		<b>Fase de mantenimiento:</b><br> Esta etapa del ciclo de vida de un sistema de información está relacionada con las operaciones del día a día. Por lo general, consiste en introducir los ajustes necesarios para mejorar el rendimiento y corregir los problemas que puedan surgir. Una vez concluye la etapa de implementación se suele abrir un periodo de operación supervisada, durante el que las actividades de mantenimiento cobran una especial importancia, al orientarse a hacer backups, dar soporte a los usuarios, resolver fallos, optimizar el sistema para cuestiones relacionadas con la seguridad o la velocidad y revisar el software para garantizar la alineación con las metas del negocio.
     	</p>

        <center> <img src="../img/mantenimiento.jpg" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>

    </div>
    </section>
 </main> 

 <!-- Footer -->
   <div class="footer-text">
     <p>&copy; Desarrollo web - 2021 | Burguillos Elny / Interfaces Web.</p>
   </div>
  
  </div>
</div>
 </footer>

</body>
</html>