<!DOCTYPE html>
<html lang="es">
<head>

    <title>Iujo Catia Informatica</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Estilos Css -->
    <link rel="stylesheet" href="../css/styles.css">
    <script src="js/fuction.js"></script>

</head>

<body>


  <!-- titulo -->
    <header id="header">
    <nav class="menu">
     <div class="logo-box">
       <h1><a href="#">Instituto Univ. "Jesús Obrero" Portal Educativo</a></h1>
       <span class="btn-menu"><i class="fas fa-bars"></i></span>
     </div>
    </nav>

 
    <div class="img-header">
     <div class="welcome">
       <h1>Metodologías de desarrollo de software:</h1>
       <hr>
       <p>Aprenderemos sobre las metodologías tradicionales y agiles</p>
     </div>       
    </div>
    
    <div class="skew-abajo"></div>
	</header>

 <main>

 	<input type="checkbox" class="checkbox" id="check">
    <label class="sidebar" for="check">☰ Menu</label>
    <div class="left-panel">
    <ul>
    <a href="../index.html"><li>Iujo Catia Home</li></a>    
    <a href="index.html"><li>Ciclo de vida del software</li></a>    
    <a href="desarrolloweb.html"><li>Desarrollo de Aplicaciones Web</li></a>    
    <a href=""><li>Comentarios</li></a>    
    </ul>
    </div>

    <!-- Concepto -->
    <section class="acerca-de">
    <div class="info-container">
      <h1>Metodologías o modelos de trabajo en la industria del desarrollo del software</h1>
      <p>
      		El desarrollo de software, es uno de los sectores tecnológicos más competitivos y no es algo nuevo, ya que durante muchos años lo ha sido, sin embargo, ha tenido una evolución constante en lo que se refiere a las metodologías o bien, las formas en las cuales se realiza la planeación para el diseño del software, básicamente con el objetivo de mejorar, optimizar procesos y ofrecer una mejor calidad.<p>
          Sin embargo, antes de hablar acerca de metodologías y todo este tema tan amplio, analicemos a detalle brevemente ¿Qué es un método? y para que lo acompañemos también veamos ¿qué es una metodología? 
      </p>

     <center> <img src="../img/metodologias.jpg" border="1" alt="Este es el ejemplo de un texto alternativo" width="600" height="300"> </center>

     	<p><b>¿Qué es un Método?</b><p>
        Un Método se compone de diversos aspectos que nos permitirán conseguir una meta o lograr un objetivo. Se define más claramente como un conjunto de herramientas, las cuales utilizadas mediante las técnicas correctas, permiten la ejecución de procesos que nos llevarán a cumplir los objetivos que buscamos
		  </p>
          
	 	 <p><b>¿Qué es una Metodología?</b><p>
        En el desarrollo de software, una metodología hace cierto énfasis al entorno en el cual se plantea y estructura el desarrollo de un sistema. Existen una gran cantidad de metodologías de la programación que se han utilizado desde los tiempos atrás y que con el paso del tiempo han ido evolucionando. Esto se debe principalmente a que no todos los sistemas de la información, son compatibles con todas las metodologías, pues el ciclo de vida del software puede ser variable. Por esta razón, es importante que dependiendo del tipo de software que se vaya a desarrollar, se identifique la metodología para el diseño de software idónea.
      </p>
          
		  <p><b>¿En qué consisten las Metodologías de Desarrollo de Software?</b><p>
        Una Metodología de desarrollo de software, consiste principalmente en hacer uso de diversas herramientas, técnicas, métodos y modelos para el desarrollo.
      </p>
       <hr size="15">

      <h1>Cuáles son los modelos del Ciclo de vida del Software tradicionales</h1>

		  <p>
			   Como les mencioné hace un momento, regularmente, cada metodología de desarrollo de software, tiene un enfoque bien marcado, estos enfoques no son para nada nuevos y se siguen utilizando para la planeación y desarrollo de software aún en nuestros tiempos, así que vamos a ver cuáles son cada uno de ellos y aprenderemos cómo funcionan.
		  </p>
          
      <p><b>Metodología en cascada: Framework lineal</b><p>
        <p>El modelo de desarrollo de Software en cascada, es una metodología de la programación muy antigua. Si bien su creador nunca lo menciona como metodología en cascada, el funcionamiento y lineamiento de los procesos de la planeación, son exactamente iguales. Básicamente, el estilo del modelo en cascada, es que no podrás avanzar a  la siguiente fase, si la anterior no se encuentra totalmente terminada, pues no tiene porque haber vuelta atrás. Vamos a ver cuales son las fases de desarrollo de software del modelo en cascada, para que te puedas dar una idea.</p>

            <center> <img src="../img/lineal.jpg" border="1" alt="Metodología lineal" width="600" height="300"> </center>

        <p> 
          <b>Fase de desarrollo de software :</b><br> del modelo en cascada, para que te puedas dar una idea: Análisis de Requisitos, Diseño Del Sistema, Diseño del Programa, Codificación, Ejecución de Pruebas, Verificación, Mantenimiento.
      </p>
       <hr size="15">
      <p><b>Metodología de Prototipos</b><p>
        <p>Esta metodología de la programación todavía sigue siendo la favorita de muchos. Consiste básicamente en que en base a los requerimientos y necesidades que tiene el cliente, se realiza de forma rápida un prototipo, este no vendrá completo ni mucho menos terminado, pero si permitirá contar con las bases necesarias para que cualquier programador pueda seguir trabajando en el hasta llegar al código final.</p>

            <center> <img src="../img/prototipo.jpeg" border="1" alt="Metodología lineal" width="600" height="300"> </center>

        <p> 
          <b>Fase de desarrollo de software :</b><br> Planeación, Modelado, Elaboración del Prototipo, Desarrollo, Entrega y Retroalimentación, Comunicación con el Cliente, Entrega del Producto Final.
      </p>
       <hr size="15">
      <p><b>Metodología Incremental o Iterativo y Creciente</b><p>
        <p>Es una metodología de la programación muy utilizada hoy en día, pues su comodidad de desarrollo permite que te obtenga un producto final mucho más completo y exitoso. Se trata especialmente de la combinación de los modelos lineal e iterativo o bien, modelo de cascada y prototipos. Básicamente consiste en completar varias iteraciones de lo que es el modelo de cascada, pero sin completar ninguna, haciendo iteraciones lo que se hace es crear una evolución en el producto, permitiendo que se agreguen nuevas especificaciones, funcionalidades, opciones, funciones y lo que el usuario requiera después de cada iteración.</p>

            <center> <img src="../img/iterativo-incremental.jpg" border="1" alt="Metodología lineal" width="600" height="300"> </center>

        <p> 
          <b>Fase de desarrollo de software :</b><br> El modelo iterativo o incremental, cuenta con algunas fases de desarrollo de software que realmente no tienen mucha complejidad, vamos a verlas: Inicialización, Periodos de Iteración, Lista de Control.
      </p>
       <hr size="15">
      <p><b>Metodología en Espiral</b><p>
        <p>El modelo en espiral, fue utilizado y diseñado por primera ves por Barry Boehm en 1986. Se trata nuevamente de una combinación entre el modelo lineal o de cascada y el modelo iterativo o basado en prototipos, sin embargo, a este sistema lo que debemos añadirle es la gestión de riesgos, algo que en los modelos anteriores ni siquiera se menciona.</p>

            <center> <img src="../img/espiral.png" border="1" alt="Metodología lineal" width="600" height="300"> </center>

        <p> 
          Para que tengas una idea más clara, el modelo en espiral es principalmente utilizado para el desarrollo de grandes proyectos como la creación de un sistema operativo. Sin embargo, necesitas de ciertos requisitos, como el hecho de contar con personal completamente capacitado para las funciones que se requieran. Mejor veamos cuales son las las fases o tareas dentro del modelo de espiral: Determinar Objetivo, Análisis de Riesgo, Desarrollar, Validar y Probar, Planificación.
      </p>
       <hr size="15">

      <p>Si bien hemos visto métodos muy diversos, información muy variada y ciclos de desarrollo de software con distintos enfoques. La realidad es que al final tu siempre decidirás como trabajar y con que tipo de metodología te sentirías más a gusto. Obviamente depende de muchos factores, principalmente del tamaño del proyecto, pues modelos como el espiral, son especialmente para proyectos grandes y modelos como el RAD, son enfocados en proyectos pequeños.<p>
      <p>A continuación, analizaremos lo que son las metodologías ágiles de desarrollo de software más importantes, las cuáles a diferencia de las metodologías tradicionales, funcionan más como una combinación de estas para lograr un objetivo. Su finalidad siempre será el crear software de una forma más rápida de lo que se venía logrando con las metodologías de antaño. Así que vamos a ver un poco de información referente a lo que son las metodologías ágiles, como funcionan y que se necesita para implementarlas.
      </p>
          
      <h1>Metodologías Ágiles</h1>
      <p>
        Con el paso del tiempo, estaba claro que las metodologías tradicionales, simplemente no se iban a acoplar con las nuevas tecnologías, los nuevos lenguajes y sobre todo los programadores modernos. Es por eso que, desde principios del Siglo, se han desarrollado lo que son las metodologías ágiles. Una metodología ágil, consiste principalmente en trabajar con menos documentación de la que, como vimos, las metodologías tradicionales utilizan en todo momento.
       <hr size="15">
      <p> 
          <b>¿Cuáles son las Principales Metodologías Ágiles?</b>
      </p>
      <p><b>Metodología Scrum:</b><p>
        Para que tengas una idea rápida, para que un proyecto ingrese al marco de lo que es el modelo Scrum, debe contar con las siguientes características:
        </p> 
        <p>• Desarrollo Incremental: Una metodología ágil sin desarrollo incremental, no puede ser considerada Scrum. Con incremental hago énfasis a olvidarnos de la planeación y de la ejecución de las lineas sin salirnos de lo pre establecido, pues con una metodología Scrum, el desarrollo se irá incrementando poco a poco, sin importar el orden en el cual se lleven a cabo los procesos.</p>
       <p> • Calidad de las personas. </p>
       <p> • Adiós al Secuencial y Cascada. </p>
       <p> • La comunicación es Fundamental. </p>

              <center> <img src="../img/SCRUM.jpeg" border="1" alt="Metodología lineal" width="600" height="300"> </center>

       <hr size="15">
      <p><b>Metodología Kanban:</b><p>
          <p>Siguiendo con las metodologías ágiles, nos encontramos con Kanban. Se trata de una metodología japonesa, la cual consiste en ir etiquetando con tarjetas cada uno de los procesos que se deben llevar a cabo, también se le ha denominado como “Un sistema de producción de alta efectividad y productividad”. De hecho, empresas como la marca de autos Toyota, fueron una de las primeras en implementarla para acelerar los procesos de producción.</p>

              <center> <img src="../img/kanban.jpg" border="1" alt="Metodología lineal" width="600" height="300"> </center>

      <p> 
       <hr size="15">
      <p><b>Metodología XP:</b><p>
          <p>Si hablamos de metodologías de la programación sin mencionar a la Metodología XP, es como no hablar de nada en absoluto. Esta metodología es posiblemente la más destacada de las metodologías ágiles y esto se debe a su gran capacidad de adaptación ante cualquier tipo de imprevisto que surja. Pues la idea no es mantener ciertos requisitos desde que se está elaborando el proyecto, sino que durante el proceso, estos vayan cambiando o vayan evolucionando gradualmente sin complicaciones. Básicamente los creadores de esta metodología XP, consideran que es mejor adaptarte en el proceso a los requisitos que vayan apareciendo, que iniciar con requisitos y desarrollar un proyecto en base a eso.
      </p> 

             <center> <img src="../img/xp.jpg" border="1" alt="Metodología lineal" width="600" height="300"> </center>
  
      </p>

     
    </div>
    </section>
 </main> 

 <!-- Footer -->
   <div class="footer-text">
     <p>&copy; Desarrollo web - 2021 | Burguillos Elny / Interfaces Web.</p>
   </div>
  
  </div>
</div>
 </footer>

</body>
</html>